<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Palace</title>
</head>
<body>
<h1> Welcome to your MemoryPalace</h1>
<p>If you are going to train your memory capacity, this App is maybe for you. It helps to create character maps to numbers and letters and aims to use AI image generation to visualize your individual sequences</p>
<h2>Links</h2>
<p>You may want to go to:</p>
<ul>
    <li><a href="../admin" >Admin</a></li>
    <li><a href="{% url 'casting:index' %}" >The Casting Room</a></li>
    <li><a href="{% url 'images:index' %}" >To Image Index</a></li>
    <li><a href="{% url 'images:label_prediction' %}" >To Image Label Prediction</a></li>
</ul>
</body>
</html>