<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casting Room</title>
</head>
<body>
<h1>Casting Room</h1>
<h2> Management</h2>
    <ul>
        <li><a href="../admin/casting/actor">See all</a> or <a href="../admin/casting/actor/add">hire new</a> Actors</li>
        <li><a href="../admin/casting/role/">Review</a> and <a href="../admin/casting/actor/add">create new</a> Roles</li>
        <li><a href="../admin/casting/cast/">Build a Cast</a></li>
        <li><a href="{% url 'home' %}" >Back to Home page</a></li>
    </ul>
<h2>Current Cast</h2>
{% if currentCast %}
    <h3>{{ currentCast.title}}</h3>
    <h4>Role Description</h4>
    <p>
    {% for role in currentRoles %}
        <b>{{ role.acts_as }}</b> is played by <b>{{ role.actor }}</b> with <i>{{ role.actor.prop }}</i>, <i>{{ role.actor.activity }}</i>.
    {% endfor %}
    </p>
    <h4><a href="{% url 'casting:rehearsal' currentCast.id %}" >Start Rehearsal</a></h4>
{% else %}
    <p>No Casts found!</p>
{% endif %}

</body>
</html>