*.log
*.pot
*.pyc
__pycache__/
.DS_Store
local_settings.py
# local db and env
*.sqlite3
.env

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

